# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [3]:
black_friday.head(5)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [6]:
aux = pd.DataFrame({'colunas': black_friday.columns,
                    'tipos': black_friday.dtypes,
                    'percentual_faltante': black_friday.isna().sum() / black_friday.shape[0]})
aux

,colunas,tipos,percentual_faltante
User_ID,User_ID,int64,0.000000
Product_ID,Product_ID,object,0.000000
Gender,Gender,object,0.000000
Age,Age,object,0.000000
Occupation,Occupation,int64,0.000000
City_Category,City_Category,object,0.000000
Stay_In_Current_City_Years,Stay_In_Current_City_Years,object,0.000000
Marital_Status,Marital_Status,int64,0.000000
Product_Category_1,Product_Category_1,int64,0.000000
Product_Category_2,Product_Category_2,float64,0.310627
Product_Category_3,Product_Category_3,float64,0.694410
Purchase,Purchase,int64,0.000000

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [12]:
# Retorne aqui o resultado da questão 1.
def q1():
    shape_black_friday = black_friday.shape
    return shape_black_friday
    pass

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [ ]:
def q2():
    # Retorne aqui o resultado da questão 2.
    gender = black_friday['Gender'] == "F"
    age = black_friday['Age'] == "26-35"
    return len(black_friday[gender & age])
    pass

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [ ]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return black_friday['User_ID'].nunique()
    pass

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [ ]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return len(black_friday.dtypes.value_counts())
    pass

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [ ]:
def q5():
    # Retorne aqui o resultado da questão 5.
    return float((black_friday.isna().sum(axis=1) > 0).mean())
    pass

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [ ]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return int(black_friday['Product_Category_3'].isnull().sum().sum())
    pass

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [ ]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return int(black_friday['Product_Category_3'].mode())
    pass

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [ ]:
def q8():
    # Retorne aqui o resultado da questão 8.
    black_friday['purchaseNormMedia'] = (black_friday['Purchase'] - black_friday['Purchase'].min()) / (black_friday['Purchase'].max()-black_friday['Purchase'].min())
    return float(black_friday['purchaseNormMedia'].mean())
    pass

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [ ]:
def q9():
    # Retorne aqui o resultado da questão 9.
    black_friday['purchaseNormMedia2'] = (black_friday['Purchase'] - black_friday['Purchase'].mean()) / black_friday['Purchase'].std()
    filtro = (black_friday['purchaseNormMedia2'] <= 1) & (black_friday['purchaseNormMedia2'] >= -1)
    return black_friday[filtro].shape[0]
    pass

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [ ]:
def q10():
    # Retorne aqui o resultado da questão 10.
    aux = black_friday[black_friday.Product_Category_2.isna()]['Product_Category_3']
    return bool(aux.notna().sum() == 0)
    pass